# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd

Next, extract and import `Orders` dataset into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [2]:
# your code here
orders = pd.read_csv('Orders.csv')
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

Sub Problem 1: How to aggregate the amount_spent for unique customers?

In [3]:
# your code here
amount_spent = orders.groupby(['CustomerID']).sum()[['amount_spent']]
amount_spent.sort_values(by = 'amount_spent', ascending = False).head(10)

            amount_spent
CustomerID
14646          280206.02
18102          259657.30
17450          194550.79
16446          168472.50
14911          143825.06
12415          124914.53
14156          117379.63
17511           91062.38
16029           81024.84
12346           77183.60

Sub Problem 2: How to select customers whose aggregated amount_spent is in a given quantile range?

In [4]:
qvip = np.quantile(amount_spent['amount_spent'], 0.95)
qpref = np.quantile(amount_spent['amount_spent'], 0.75)
print(qvip)
print(qpref)

5840.181999999983
1661.6400000000003

Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

In [5]:
cust = []
for x in amount_spent['amount_spent']:
    if x >= qvip:
        cust.append("VIP")
    elif qpref <= x < qvip:
        cust.append('Preferred')
    else:
        cust.append('Regular')

amount_spent['Cust_category'] = cust
amount_spent.sort_values(by = 'amount_spent', ascending = False).head(10)

            amount_spent Cust_category
CustomerID
14646          280206.02           VIP
18102          259657.30           VIP
17450          194550.79           VIP
16446          168472.50           VIP
14911          143825.06           VIP
12415          124914.53           VIP
14156          117379.63           VIP
17511           91062.38           VIP
16029           81024.84           VIP
12346           77183.60           VIP

In [6]:
orders = pd.merge(orders, amount_spent['Cust_category'], on ='CustomerID', how ='left')
orders.head(50)

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent,Cust_category
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,Preferred
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,Preferred
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,Preferred
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,Preferred
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,Preferred
5,5,536365,22752,2010,12,3,8,set 7 babushka nesting boxes,2,2010-12-01 08:26:00,7.65,17850,United Kingdom,15.30,Preferred
6,6,536365,21730,2010,12,3,8,glass star frosted t-light holder,6,2010-12-01 08:26:00,4.25,17850,United Kingdom,25.50,Preferred
7,7,536366,22633,2010,12,3,8,hand warmer union jack,6,2010-12-01 08:28:00,1.85,17850,United Kingdom,11.10,Preferred
8,8,536366,22632,2010,12,3,8,hand warmer red polka dot,6,2010-12-01 08:28:00,1.85,17850,United Kingdom,11.10,Preferred
9,9,536367,84879,2010,12,3,8,assorted colour bird ornament,32,2010-12-01 08:34:00,1.69,13047,United Kingdom,54.08,Preferred
10,10,536367,22745,2010,12,3,8,poppy's playhouse bedroom,6,2010-12-01 08:34:00,2.10,13047,United Kingdom,12.60,Preferred
11,11,536367,22748,2010,12,3,8,poppy's playhouse kitchen,6,2010-12-01 08:34:00,2.10,13047,United Kingdom,12.60,Preferred
12,12,536367,22749,2010,12,3,8,feltcraft princess charlotte doll,8,2010-12-01 08:34:00,3.75,13047,United Kingdom,30.00,Preferred
13,13,536367,22310,2010,12,3,8,ivory knitted mug cosy,6,2010-12-01 08:34:00,1.65,13047,United Kingdom,9.90,Preferred
14,14,536367,84969,2010,12,3,8,box of 6 assorted colour teaspoons,6,2010-12-01 08:34:00,4.25,13047,United Kingdom,25.50,Preferred
15,15,536367,22623,2010,12,3,8,box of vintage jigsaw blocks,3,2010-12-01 08:34:00,4.95,13047,United Kingdom,14.85,Preferred
16,16,536367,22622,2010,12,3,8,box of vintage alphabet blocks,2,2010-12-01 08:34:00,9.95,13047,United Kingdom,19.90,Preferred
17,17,536367,21754,2010,12,3,8,home building block word,3,2010-12-01 08:34:00,5.95,13047,United Kingdom,17.85,Preferred
18,18,536367,21755,2010,12,3,8,love building block word,3,2010-12-01 08:34:00,5.95,13047,United Kingdom,17.85,Preferred
19,19,536367,21777,2010,12,3,8,recipe box with metal heart,4,2010-12-01 08:34:00,7.95,13047,United Kingdom,31.80,Preferred
20,20,536367,48187,2010,12,3,8,doormat new england,4,2010-12-01 08:34:00,7.95,13047,United Kingdom,31.80,Preferred
21,21,536368,22960,2010,12,3,8,jam making set with jars,6,2010-12-01 08:34:00,4.25,13047,United Kingdom,25.50,Preferred
22,22,536368,22913,2010,12,3,8,red coat rack paris fashion,3,2010-12-01 08:34:00,4.95,13047,United Kingdom,14.85,Preferred
23,23,536368,22912,2010,12,3,8,yellow coat rack paris fashion,3,2010-12-01 08:34:00,4.95,13047,United Kingdom,14.85,Preferred
24,24,536368,22914,2010,12,3,8,blue coat rack paris fashion,3,2010-12-01 08:34:00,4.95,13047,United Kingdom,14.85,Preferred
25,25,536369,21756,2010,12,3,8,bath building block word,3,2010-12-01 08:35:00,5.95,13047,United Kingdom,17.85,Preferred
26,26,536370,22728,2010,12,3,8,alarm clock bakelike pink,24,2010-12-01 08:45:00,3.75,12583,France,90.00,VIP
27,27,536370,22727,2010,12,3,8,alarm clock bakelike red,24,2010-12-01 08:45:00,3.75,12583,France,90.00,VIP
28,28,536370,22726,2010,12,3,8,alarm clock bakelike green,12,2010-12-01 08:45:00,3.75,12583,France,45.00,VIP
29,29,536370,21724,2010,12,3,8,panda and bunnies sticker sheet,12,2010-12-01 08:45:00,0.85,12583,France,10.20,VIP
30,30,536370,21883,2010,12,3,8,stars gift tape,24,2010-12-01 08:45:00,0.65,12583,France,15.60,VIP
31,31,536370,10002,2010,12,3,8,inflatable political globe,48,2010-12-01 08:45:00,0.85,12583,France,40.80,VIP
32,32,536370,21791,2010,12,3,8,vintage heads and tails card game,24,2010-12-01 08:45:00,1.25,12583,France,30.00,VIP
33,33,536370,21035,2010,12,3,8,set/2 red retrospot tea towels,18,2010-12-01 08:45:00,2.95,12583,France,53.10,VIP
34,34,536370,22326,2010,12,3,8,round snack boxes set of4 woodland,24,2010-12-01 08:45:00,2.95,12583,France,70.80,VIP
35,35,536370,22629,2010,12,3,8,spaceboy lunch box,24,2010-12-01 08:45:00,1.95,12583,France,46.80,VIP
36,36,536370,22659,2010,12,3,8,lunch box i love london,24,2010-12-01 08:45:00,1.95,12583,France,46.80,VIP
37,37,536370,22631,2010,12,3,8,circus parade lunch box,24,2010-12-01 08:45:00,1.95,12583,France,46.80,VIP
38,38,536370,22661,2010,12,3,8,charlotte bag dolly girl design,20,2010-12-01 08:45:00,0.85,12583,France,17.00,VIP
39,39,536370,21731,2010,12,3,8,red toadstool led night light,24,2010-12-01 08:45:00,1.65,12583,France,39.60,VIP
40,40,536370,22900,2010,12,3,8,set 2 tea towels i love london,24,2010-12-01 08:45:00,2.95,12583,France,70.80,VIP
41,41,536370,21913,2010,12,3,8,vintage seaside jigsaw puzzles,12,2010-12-01 08:45:00,3.75,12583,France,45.00,VIP
42,42,536370,22540,2010,12,3,8,mini jigsaw circus parade,24,2010-12-01 08:45:00,0.42,12583,France,10.08,VIP
43,43,536370,22544,2010,12,3,8,mini jigsaw spaceboy,24,2010-12-01 08:45:00,0.42,12583,France,10.08,VIP
44,44,536370,22492,2010,12,3,8,mini paint set vintage,36,2010-12-01 08:45:00,0.65,12583,France,23.40,VIP
45,45,536370,POST,2010,12,3,8,postage,3,2010-12-01 08:45:00,18.00,12583,France,54.00,VIP
46,46,536371,22086,2010,12,3,9,paper chain kit 50's christmas,80,2010-12-01 09:00:00,2.55,13748,United Kingdom,204.00,Regular
47,47,536372,22632,2010,12,3,9,hand warmer red polka dot,6,2010-12-01 09:01:00,1.85,17850,United Kingdom,11.10,Preferred
48,48,536372,22633,2010,12,3,9,hand warmer union jack,6,2010-12-01 09:01:00,1.85,17850,United Kingdom,11.10,Preferred
49,49,536373,85123A,2010,12,3,9,white hanging heart t-light holder,6,2010-12-01 09:02:00,2.55,17850,United Kingdom,15.30,Preferred

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [30]:
country = orders[['Cust_category', 'Country']]
VIP = country[country['Cust_category'] == 'VIP']
VIP.groupby(["Country"]).count().sort_values(["Cust_category"], ascending=False)

                 Cust_category
Country
United Kingdom           84185
EIRE                      7077
France                    3290
Germany                   3127
Netherlands               2080
Australia                  898
Portugal                   681
Switzerland                594
Spain                      511
Norway                     420
Channel Islands            364
Finland                    294
Cyprus                     248
Singapore                  222
Japan                      205
Sweden                     198
Belgium                     54
Denmark                     36

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [38]:
# your code here
VIPref = country[(country['Cust_category'] == 'VIP') | (country['Cust_category'] == 'Preferred')]

In [39]:
VIPref.groupby(["Country"]).count().sort_values(["Cust_category"], ascending=False)

                 Cust_category
Country
United Kingdom          221635
Germany                   7349
EIRE                      7238
France                    6301
Netherlands               2080
Spain                     1569
Belgium                   1557
Switzerland               1370
Portugal                  1093
Norway                    1028
Australia                 1028
Channel Islands            589
Italy                      507
Finland                    504
Cyprus                     451
Sweden                     273
Japan                      272
Singapore                  222
Denmark                    217
Israel                     214
Iceland                    182
Austria                    158
Poland                     149
Canada                     135
Malta                       67
Lebanon                     45
Greece                      32